.item{
      align-items: center;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px #aaa;
      display: flex;
      height: 80px;
      justify-content: space-between;
      margin: 10px 0;
      padding: 0 10px;
      position: relative;
      width: 100%;
}
.item>svg{
      fill: #ff000091;
      height: 15px;
      position: absolute;
      right: -1%;
      top: 9%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 15px;
}
.item>span{
      font-size: .8rem;
      font-weight: 500;
}
.item>cart-item-name{
width: 30%;
}
.item>img{
      border-radius: 10px;
      height: 70%;
      object-fit: cover;
      width: 15%;
}

.item>div>svg{
      fill: #708090;
      height: 100%;
      margin: 0 4px;
      width: 25px;
}
