.navigation-input:checked + label >svg {
  fill: black;
  margin-bottom: 10px
}
.navigation-input:checked +label > .othman{
  background: white 
}

.navigation-input:checked+label>span {
  bottom: 2px
}