.categories{
  display: flex;
  justify-content: space-around ;
  flex-wrap: wrap ;

}
.categories>div{
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 8px #aaa;
      box-sizing: border-box;
      font-size: .8rem;
      height: 200px;
      margin: 10px 0;
      padding: 10px 10px 20px;
      position: relative;
      text-align: center;
      width: 35% !important;
}
.categories>div>img{
      height: 80%;
    object-fit: cover;
    width: 100%;
    border-radius: 7px;
}
.categories>div>span{
      display: block;
    font-weight: 700;
    padding: 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  
}
