


.product-description-container{
    padding: 20px 
  }
  .product-description-container >.icons-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center ;
    height: 60px;
    margin: 10px 0
  }
  .product-description-container >.icons-container >div{
    width: 48%;
    padding: 10px ;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 0.5rem
  }
  .product-description-container >.icons-container>div>svg{
    width: 1.5rem;
    height: 2rem;
    fill: #5cb85c;
  }
  .product-description-container >.icons-container>div>span{
    font-size:0.8rem ;
    padding: 0 8px;
    color: #707070;
    font-weight: 500
  }
  .product-description >span{
    font-size: 1rem ;
    font-weight: 700;
    
  
  }
  .product-description >p{
    text-align: start;
    padding: 10px 0;
    line-height: 1.3rem;
    font-size: 0.8rem 
  }
  .product-highlights >span{
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 0
  }
  .product-highlights >ul{
    list-style: disc;
    list-style-position: inside;
    padding: 10px 0
  }
  @media screen and (min-width:700px){
    .product-description-container>.icons-container {
      width: 40%;
    }
  }
