
.product{
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 8px #aaa;
      box-sizing: border-box;
      font-size: .8rem;
      height: 250px;
      margin: 10px 0;
      padding: 10px 10px 20px;
      position: relative;
      text-align: center;
      width: 40% !important;
}
.product>img{
      height: 70%;
      object-fit: cover;
      width: 100%;
      border-radius: 7px 
}
.product>.product-name{
      display: block;
    font-weight: 700;
    max-height: 20%;
    overflow: hidden;
    padding: 5px 0;
    text-overflow: ellipsis;
    white-space: normal;
    margin-top: 10px 
}
.product>.price-container{
      bottom: 0;
      display: flex;
      justify-content: flex-start;
      position: absolute;
      width: 100%;
      direction: ltr
}
.product>.price-container>div{
      font-weight: 700;
    padding: 5px;
    white-space: nowrap;
}
.product>.price-container>.previous-price{
      color: #070707;
      font-weight: 500;
      line-height: 30px;
      text-decoration: line-through;
}
