.product-information{
  padding: 20px
}
.product-information>span {
  display: block;
  width: 100%;
}
.product-information>span:first-child {
      padding: 10px 0;
      font-weight: bold ;
      font-size: 1.2rem
      
}
.product-information>.product-description {
  font-size: 0.8rem
}
.product-information>.product-prices-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.product-information>.product-prices-container>span {
  color: red;
}
.product-prices-container>div>span:first-child {
  color: red;
  font-size: 1.2rem;
  font-weight: 700;
}
.product-information .product-prices-container>div>span:last-child {
    padding: 0 10px;
    text-decoration: line-through;
}
.product-information>.product-delivery-title {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}
.product-information>.product-delivery-title>span:first-child {
    color: #696969;
}
.product-information>.product-delivery-title>span:last-child {
    color: #28cb98;
    font-size: .9rem;
    padding: 0 3px;
}
