




.product-information{
    padding: 20px;
  }
  .product-information > span{
    width: 100%;
    display: block;
  }
  .product-information >span:first-child{
    padding: 10px 0;
    
  }
  .product-information > .product-description{
    font-size: 0.8rem 
  }
  .product-information .product-prices-container{
    display: flex;
    align-items: center ;
    justify-content: space-between ;
    padding: 10px 0
  
  }
  .product-information .product-prices-container> span{
    color: red
  }
  .product-information .product-prices-container >div>span:last-child{
    padding: 0 10px;
    text-decoration: line-through
  }
   .product-prices-container >div>span:first-child{
     color: red;
     font-size: 1.2rem ;
     font-weight: bold
   }
  .product-information .product-delivery-title{
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    padding: 10px 0
  }
  .product-information .product-delivery-title >span:first-child{
    color: #696969
  }
  .product-information .product-delivery-title >span:last-child{
    color: #28CB98;
    padding: 0 3px;
    font-size: 0.9rem 
  }
  .product-information >button{
    width: 95%;
    padding: 10px 0;
    background: #000;
    color: #FFF;
    border-radius: 7px ;
    font-weight: 700;
    outline: none;
    border: none;
    position: fixed ;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    
   
  }
  
  
  @media screen and (min-width: 500px) {
    .product-information >button{
      position: static;
      width: 100%;
      transform: none
    }
    .product-information{
        width: 40% !important;
    }

  }
  
  
